footer {

  //Ul
  ul {

    //Li
    li {
      list-style: none;
      margin-left: 25px;

      //a
      a {
        img {
          width: $social-media-icons;
        }
      }

      //end-a
    }

    //end-li
  }

  //End-ul
}