.sobre-web-design {
  align-items: center;
  justify-content: space-between;
}


.sobre-web-design article {
  width: 300px;
}

.sobre-web-design article h1 {
  font-size: $font-h1;
  font-weight: 400;
  line-height: 90%;
  color: $color-secondary;
}

.sobre-web-design article h2 {
  font-size: $font-h2;
  color: $color-primary;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 200%;
}

.sobre-web-design article p {
  color: $color-primary;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sobre-web-design figure img {
  width: 700px;
}