header section {
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  margin: 0 17px;
  font-size: 19px;
  color: #3399cc;
}

header nav ul li a {
  transition: all 0.5s;
}

header nav ul li:hover {
  transition: 0.3s;
  transform: scale(1.10);

}